body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh
}

.footer,
.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1f2937;
    padding: 20px;
}

.signup-section {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.call-to-action-box {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 40px;
    display: flex;
    color: white;
    width: 800px;
    justify-content: space-around;
    align-items: center;
}

button {
    border-radius: 8px;
    padding: 0;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
}
.signup-button {
    border: 1px solid white;
    background-color: #3882F6;
    color: white;
}

.call-to-action-header {
    font-weight: bold;
    font-size: 20px;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    flex: 1;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.quote-source {
    color: black;
    font-weight: bold;
    text-align: right;
    font-size: 20px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: auto;
}

.information-cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    flex: 1;
}

.information-header {
    font-size: 36px;
    font-weight: bold;
    margin: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}


.content {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 5px;
}

.card {
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.card-text {
    text-align: center;
}

.first-section {
    background-color: #1f2937;
    display: flex;
    padding: 80px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.first-section-image {
    width: 450px;
    height: 200px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.first-section-text {
    display: flex;
    flex-direction: column;
    color: white;
    width: 360px;
}

.first-section-header {
    font-weight: bolder;
    font-size: 48px;
}

.first-section-button {
    background-color: #3882F6;
    color: white;
    border: 0px;
    margin-top: 10px;
}


.header-links {
    display: flex;
    gap: 40px;
}

#header-logo {
    flex-shrink: 0;
    font-size: 24px;
    font-weight: bolder;
}

.header-divider {
    flex-basis: 400px;
    min-width: 50px;
}

.description,
.header-links {
    font-size: 18px;
    color: #e5e7eb;
}